





    <div class="texto">
        <span class="destaque">Projetos</span>
    </div>



 
      
    <body>
        <div class="grid-container">
            <div class="grid-item">
                <img src="/assets/img/Maça.jpg" alt="">
                <h2>Jogo da maça</h2>
                <p>Você tem que desviar das maças.</p>
                <a href="https://github.com/GabriellyKlohn/jogos_scratch/blob/152d63b741d78858cb88082202e0dc1cdc1ea298/Jogo%20da%20Ma%C3%A7a.sb3">Ver mais</a> 
            </div>
            <div class="grid-item">
                <img src="/assets/img/ponto de interrogação.png" alt="">
                <h2>Jogo da Adivinhação</h2>
                <p>Você tem que adivinhar o número que estou pensando.</p>
                <a href="https://github.com/GabriellyKlohn/jogos_scratch/blob/152d63b741d78858cb88082202e0dc1cdc1ea298/Jogo%20de%20Adivinha%C3%A7%C3%A3o.sb3">Ver mais</a>
            </div>
            <div (click)="abreProjeto('piadas')" class="grid-item">
                <img src="url-da-imagem-3" alt="">
                <h2>API de Piadas</h2>
                <p>API de Piadas e Google Tradutor.</p>
                <a href="#">Ver mais</a>
            </div>
            <div class="grid-item">
                <img src="url-da-imagem-4" alt="">
                <h2>nome do projeto</h2>
                <p>Descrição para o item 4.</p>
                <a href="#">Ver mais</a>
            </div>
            <div class="grid-item">
                <img src="url-da-imagem-5" alt="">
                <h2>nome do projeto</h2>
                <p>Descrição para o item 5.</p>
                <a href="#">Ver mais</a>
            </div>
            <div class="grid-item">
                <img src="url-da-imagem-6" alt="">
                <h2>nome do projeto</h2>
                <p>Descrição para o item 6.</p>
                <a href="#">Ver mais</a>
            </div>
            <div class="grid-item">
                <img src="url-da-imagem-7" alt="">
                <h2>nome do projeto</h2>
                <p>Descrição para o item 7.</p>
                <a href="#">Ver mais</a>
            </div>
            <div class="grid-item">
                <img src="url-da-imagem-8" alt="">
                <h2>nome do projeto</h2>
                <p>Descrição para o item 8.</p>
                 <a href="#">Ver mais</a>
            </div>
        </div>
    </body>