<section class="fundo">
    <article>
        <h1>Sobre mim</h1>
        <p>Sou Gabrielly Isabel Klöhn; Estudante de Lógica da Programação do SENAI/Indaial. Eu sou uma pessoa dedicada, buscando sempre expandir meus conhecimentos e habilidades.
            Meus estudos são uma prioridade, e me esforço para absorver o máximo de aprendizado possível.
        </p>
        <p>No meu tempo livre eu gosto de ler, escutar música, jogar volêi, dançar, inclusive já fui para várias competições, pois dançar é minha paixão.</p>
    </article>
    <figure>
        <img src="assets/img/livros.jpeg">
    </figure>
</section>
